<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/cad5328331.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .container-custom {
        justify-content: center;
        justify-items: center;
        display: flex;
      }
      .email-container {
        background-color: white;
        border: 1px;
        border-radius: 50px;
        border-style: solid;
        /* padding-left: 10px;
        padding-right: 10px; */
        padding-top: 2px;
        padding-bottom: 2px;
        border-color: #e0e0e0;
      }
    </style>

    <title>Authorize App</title>
  </head>
  <body>
    <!-- <h1>Hello, Bulma</h1>
    <a href="">Some link</a> -->
    <div class="block"></div>
    <div class="block"></div>
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered">
          <div class="column is-4" style="width: 36%">
            <div
              class="notification px-5 mx-5"
              style="
                background-color: white;
                border-width: 1px;
                border-color: #e0e0e0;
                border-style: solid;
                border-radius: 6px;
              "
            >
              <p class="is-size-5 has-text-weight-light has-text-centered mt-4">
                Sign in with <span class="has-text-weight-medium">Catena</span>
              </p>
              <div class="container-custom">
                <div class="email-container px-2 py-1 mt-2 mb-5 is-size-7">
                  {{.subject}}
                </div>
              </div>
              <p
                class="is-size-5 has-text-weight-medium has-text-centered mb-5"
              >
                <span class="has-text-link">{{.client_name}}</span> wants to
                access your account info
              </p>
              <p class="is-size-6 has-text-weight-medium mb-4">
                This will allow
                <span class="has-text-link">{{.client_name}}</span> to:
              </p>
              <div class="ml-2 block" style="font-size: 14px">
                <div class="columns mx-1 mb-0">
                  <div
                    class="column is-1 has-text-centered"
                    style="
                      justify-content: center;
                      align-items: center;
                      display: flex;
                    "
                  >
                    <!-- <i class="fas fa-info"></i> -->
                    <span
                      class="fas fa-circle has-text-link"
                      style="font-size: 0.6rem"
                    ></span>
                  </div>
                  <div class="column">
                    <p class="has-text-weight-normal">Read your profile</p>
                  </div>
                </div>
                <div class="columns mx-1 mb-0">
                  <div
                    class="column is-1 has-text-centered"
                    style="
                      justify-content: center;
                      align-items: center;
                      display: flex;
                    "
                  >
                    <!-- <i class="fas fa-info"></i> -->
                    <span
                      class="fas fa-circle has-text-link"
                      style="font-size: 0.6rem"
                    ></span>
                  </div>
                  <div class="column">
                    <p class="has-text-weight-normal">
                      Retrieve your documents
                    </p>
                  </div>
                </div>
                <div class="columns mx-1 mb-0">
                  <div
                    class="column is-1 has-text-centered"
                    style="
                      justify-content: center;
                      align-items: center;
                      display: flex;
                    "
                  >
                    <!-- <i class="fas fa-info"></i> -->
                    <span
                      class="fas fa-circle has-text-link"
                      style="font-size: 0.6rem"
                    ></span>
                  </div>
                  <div class="column">
                    <p class="has-text-weight-normal">
                      Read your existing financial data
                    </p>
                  </div>
                </div>
                <div class="columns mx-1 mb-5">
                  <div
                    class="column is-1 has-text-centered"
                    style="
                      justify-content: center;
                      align-items: center;
                      display: flex;
                    "
                  >
                    <!-- <i class="fas fa-info"></i> -->
                    <span
                      class="fas fa-circle has-text-link"
                      style="font-size: 0.6rem"
                    ></span>
                  </div>
                  <div class="column">
                    <p class="has-text-weight-normal">
                      Insert new record to your financial data
                    </p>
                  </div>
                </div>
              </div>
              <p class="has-text-weight-medium" style="font-size: 14px">
                Make sure you know and trust
                <span
                  class="has-test-weight-medium has-text-link"
                  style="font-size: 14px"
                  >{{.client_name}}</span
                >.
              </p>
              <div class="columns mt-6 pt-3">
                <div class="column is-3">
                  <button
                    class="button is-white px-4 has-text-weight-medium"
                    style="color: #3273dc"
                    id="cancelButton"
                    onclick="cancelOnClick()"
                  >
                    Cancel
                  </button>
                </div>
                <div class="column"></div>
                <div class="column is-4 has-text-right">
                  <button
                    class="button is-link px-5"
                    id="allowButton"
                    onclick="allowOnClick()"
                  >
                    Allow
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      const allowButon = document.getElementById("allowButton");
      const cancelButton = document.getElementById("cancelButton");

      var params;

      const client_name = {{.client_name}}
      const subject = {{.subject}}
      const URL = {{.url}}

      function allowOnClick() {
        const formData = new FormData();
        // console.log(params.get("text"));

        formData.append("consent_challenge", params.get("consent_challenge"))
        formData.append("subject", subject)
        formData.append("client_name", client_name)
        formData.append("scope_granted", true)

        sendData(formData)

      }

      function sendData(form) {
        fetch(URL, {
          method: "POST",
          body: form,
          cors: "no-cors",
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (data) {
            // window.location = "https://www.google.com";
            window.location = data["url_redirect"];
          })
          .catch(function (err) {
            console.log("Something went wrong!", err);
          });
      }

      function cancelOnClick() {
        const formData = new FormData();
        // console.log(params.get("text"));

        formData.append("consent_challange", params.get("consent_challange"))
        formData.append("subject", subject)
        formData.append("client_name", client_name)
        formData.append("scope_granted", false)

        sendData(formData)
      }
      window.addEventListener("load", function () {
        params = new URLSearchParams(location.search);
        console.log(scope)
        console.log(scope[0])
        scope.forEach(element => {
          console.log(element)
        });
      });
    </script>
  </body>
</html>
